body{
    margin-top: 10px;
    background: #ffffff;
} 
#button {
    border: 2px solid #d6e4f9;
    border-radius: 8px;
    background-color: #2f6bed;
    color: white;
    padding: 7px;
    margin-left: -2px;
    padding-left: 17px;
    padding-right: 17px;
    cursor: pointer;
   }
   #button:hover {
    background-color: #1c58db;
   }